body {
  background-color: black;
  margin: 0;
  font-family: "Rajdhani", sans-serif;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #1c1c1c;
}

h2 {
  color: aliceblue;
  margin: 0;
}

nav {
  display: flex;
  gap: 15px;
}

.botao-link {
  display: inline-block;
  padding: 10px 15px;
  background-color: hsl(91, 87%, 47%);
  color: #1c201b;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.botao-link:hover {
  background-color: hsl(91, 87%, 40%);
}

h1 {
  color: aliceblue;
  text-align: center;
  margin-top: 30px;
}

.eventos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
.evento-form-card {
  border-radius: 16px;

  padding: 32px;
  margin-top: 32px;
  background-color: white;
  color: hsl(91, 87%, 40%);
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.botao-salvar {
  display: inline-block;
  padding: 10px 15px;
  background-color: #1c201b;
  border: hsl(91, 87%, 47%);
  color: hsl(91, 87%, 47%);
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

#btnTopo {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: none;
  background-color: hsl(91, 87%, 47%);
  color: black;
  border: none;
  padding: 12px 18px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

html {
  scroll-behavior: smooth;
}
